{% extends 'base.html' %}
{% block content %}
<div class="card text-white bg-dark mb-3 w-70 position-absolute top-50 start-50 translate-middle">
    <h5 class="card-header">
        Add Weapon to Armoury
    </h5>
    <div class="card-body text-dark">
        <form action="{{ url_for('armoury.player_add_weapon') }}" method="post" class="needs-validation" novalidate>
          {% include 'weapon_form.html' %}
            <hr class="my-4">
            <div class="row">
               <div class="d-flex align-items-stretch">
                <button class="w-100 btn btn-primary btn-lg" type="submit" value="add_weapon">Add Weapon</button>
              </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
