{% extends 'base.html' %}
{% block content %}
<div class="card border-dark mb-3 w-50"">
    <div class="card-header">
        Weapon Definition
    </div>
    <div class="card-body text-dark">
        <form action="{{ url_for('rolls.submit_roll_weapon') }}" method="post" class="needs-validation" novalidate>
          {{ form.hidden_tag() }}
          {{ form.weapon.hidden_tag() }}
          <div class="row mb-3">
            <div class="col">
              {{ form.weapon.weapon_name.label(class='form-label') }}
              {{ form.weapon.weapon_name(placeholder='ie. Las-pistol', class_='form-control', required=True) }}
              <div class="invalid-feedback">
                Enter a weapon name.
              </div>
            </div>

            <div class="col">
              {{ form.weapon.weapon_class.label(class='form-label') }}
              {{ form.weapon.weapon_class(class_='form-control', required=True) }}
            </div>

            <div class="col">
              {{ form.weapon.weapon_type.label(class='form-label') }}
              {{ form.weapon.weapon_type(class_='form-control', required=True) }}
            </div>

            <div class="col">
              {{ form.weapon.damage_type.label(class='form-label') }}
              {{ form.weapon.damage_type(class_='form-control', required=True) }}
            </div>
          </div>

          <div class="input-group input-group-sm mb-3 p-1">
              {{ form.weapon.rof_single(class_='btn-check flex-grow-1', autocomplete='off', required=True) }}
              {{ form.weapon.rof_single.label(class_='btn btn-outline-secondary d-inline-flex align-items-center', style='border-radius:.2rem') }}

              <span class="input-group-text align-self-center" style="max-width:50px">/</span>

              <div class="form-floating flex-grow-1">
                {{ form.weapon.rof_semi(class_='form-control', placeholder='0', type='number', required=True) }}
                {{ form.weapon.rof_semi.label }}
              </div>

              <span class="input-group-text align-self-center" style="max-width:50px">/</span>

              <div class="form-floating flex-grow-1">
                {{ form.weapon.rof_auto(class_='form-control', placeholder='0', type='number', required=True) }}
                {{ form.weapon.rof_auto.label }}
              </div>

            </div>

            <div class="input-group input-group-sm mb-3">
              <div class="form-floating flex-grow-1">
                {{ form.weapon.damage_roll(class_='form-control', placeholder='3', type='number', required=True) }}
                {{ form.weapon.damage_roll.label }}
              </div>

              <span class="input-group-text align-self-center" style="max-width:50px">d10 +</span>

              <div class="form-floating flex-grow-1">
                {{ form.weapon.damage_bonus(class_='form-control', placeholder='3', type='number', required=True) }}
                {{ form.weapon.damage_bonus.label }}
              </div>
            </div>

            <div class="input-group input-group justify-content-evenly mb-3">
              <div class="form-floating">
                {{ form.weapon.penetration(class_='form-control', placeholder='3', type='number', required=True) }}
                {{ form.weapon.penetration.label }}
              </div>

              <div class="form-floating flex-grow-1">
                {{ form.weapon.weapon_range(class_='form-control', placeholder='3', type='number', required=True) }}
                {{ form.weapon.weapon_range.label }}
              </div>
            </div>

            <hr class="my-4">
            <div class="row">
              <div class="col d-flex align-items-stretch">
                <div class="form-floating">
                  {{ form.target_range(class_='form-control', placeholder='30', type='number', required=True) }}
                  {{ form.target_range.label }}
                </div>
              </div>

              <div class="col d-flex align-items-stretch">
                <div class="form-floating">
                  {{ form.test_characteristic(class_='form-control', placeholder='30', type='number', required=True) }}
                  {{ form.test_characteristic.label }}
                </div>
              </div>

              <div class="col d-flex align-items-stretch">
                <button class="w-100 btn btn-primary btn-lg" type="submit" value="roll_weapon">Roll Attack</button>
              </div>
            </div>
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='form-validation.js')}}"></script>
{% endblock %}
