{% extends 'base.html' %}
{% block content %}
<div class="card text-white bg-dark mb-3 w-70 position-absolute top-50 start-50 translate-middle">
    <h5 class="card-header">
        Weapon Definition
    </h5>
    <div class="card-body text-dark">
        <form action="{{ url_for('rolls.submit_roll_weapon') }}" method="post" class="needs-validation" novalidate>
          {{ form.hidden_tag() }}
          {{ form.player_action.hidden_tag() }}
          {% include 'weapon_form.html' %}
            <hr class="my-4">
            <div class="row">
              <div class="col d-flex align-items-stretch">
                <div class="form-floating">
                  {{ form.target_range(class_='form-control', placeholder='30', type='number', required=True) }}
                  {{ form.target_range.label }}
                </div>
              </div>

              <div class="col d-flex align-items-stretch">
                <div class="form-floating">
                  {{ form.test_characteristic(class_='form-control', placeholder='30', type='number', required=True) }}
                  {{ form.test_characteristic.label }}
                </div>
              </div>

              <div class="col d-flex align-items-stretch">
                {{ form.player_action.action(class_='form-control', required=True) }}
              </div>

              <div class="col d-flex align-items-stretch">
                <button class="w-100 btn btn-primary btn-lg" type="submit" value="roll_weapon">Roll Attack</button>
              </div>
            </div>
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='form-validation.js')}}"></script>
{% endblock %}
