{% extends 'base.html' %}
{% block content %}
<div class="card border-dark mb-3">
    <div class="card-header">
        Weapon Definition
    </div>
    <div class="card-body text-dark">
        <form action="{{ url_for('rolls.submit_roll_weapon') }}" method="post" class="needs-validation" novalidate>
          <div class="row">
            <div class="col">
              <label for="weapon_name" class="form-label">Weapon Name</label>
              <input name="weapon_name" type="text" class="form-control" id="weapon_name" placeholder="ie. Laspistol" value="" required>
              <div class="invalid-feedback">
                Enter a weapon name.
              </div>
            </div>

            <div class="col">
            <label for="weapon_class" class="form-label">Weapon Class</label>
              <select name="weapon_class" class="form-select" id="weapon_class" required>
                {% for cls in weapon_classes %}
                <option value="{{cls.value}}">{{ cls.value }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col">
              <label for="weapon_type" class="form-label">Weapon Type</label>
              <select name="weapon_type" class="form-select" id="weapon_type" required>
                {% for cls in weapon_types %}
                <option value="{{cls.value}}">{{ cls.value }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col">
              <label for="damage_type" class="form-label">Damage Type</label>
              <select name="damage_type" class="form-select" id="damage_type" required>
                {% for cls in damage_types %}
                <option value="{{cls.value}}">{{ cls.value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="weapon_range" class="form-label">Weapon Range</label>
              <input name="weapon_range" type="number" class="form-control" id="weapon_range" placeholder="ie. 30" required>
              <div class="invalid-feedback">
                Weapon range required.
              </div>
            </div>

            <div class="col">
              <label for="target_range" class="form-label">Target Range</label>
              <input name="target_range" type="number" class="form-control" id="target_range" placeholder="ie. 15" required>
              <div class="invalid-feedback">
                Target range required.
              </div>
            </div>
          </div>

            <div class="input-group mb-3">

              <div class="form-check form-switch">
                <input name="rof_single" class="form-check-input" type="checkbox" id="rof_single">
                <label class="form-check-label" for="rof_single">Single Shot?</label>
              </div>

              <div class="form-floating mb-3">
                <input name="rof_semi" type="number" class="form-control" placeholder="Semi RoF" id="rof_semi">
                <label for="rof_semi">Semi-automatic RoF</label>
              </div>

              <div class="form-floating mb-3">
                <input name="rof_auto" type="number" class="form-control" placeholder="Auto RoF" id="rof_auto">
                <label for="rof_auto">Fully-automatic RoF</label>
              </div>
            </div>

            <div class="input-group input-group-lg mb-3">
              <div class="form-floating mb-3">
                <input name="damage_roll" type="number" class="form-control" placeholder="3" id="damage_roll">
                <label for="damage_roll"># Damage Dice</label>
              </div>
              <span class="input-group-text">d10 +</span>
              <div class="form-floating mb-3">
                <input name="damage_bonus" type="number" class="form-control" placeholder="5" id="damage_bonus">
                <label for="damage_bonus">Damage Bonus</label>
              </div>
              <span class="input-group-text">with</span>
              <div class="form-floating mb-3">
                <input name="penetration" type="number" class="form-control" placeholder="10" id="penetration">
                <label for="penetration">Penetration</label>
              </div>
            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit" value="roll_weapon">Roll Attack</button>
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='form-validation.js')}}"></script>
{% endblock %}
